<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <link type="text/html" rel="stylesheet" href="../../node_modules/sakura-js/dist/sakura.min.css">

</head>

<body>
  <div class="page-wrapper layout-full">
    <div class="preloader">
      <div class="line"></div>
      <div class="loader">
        <div class="one-loader first">
          <div class="v-line first-line"></div>
          <div class="circle first-circle"></div>
        </div>
        <div class="one-loader">
          <div class="v-line middle-line"></div>
          <div class="circle middle-circle"></div>
        </div>
        <div class="one-loader">
          <div class="v-line middle-line"></div>
          <div class="circle middle-circle"></div>
        </div>
        <div class="one-loader">
          <div class="v-line middle-line"></div>
          <div class="circle middle-circle"></div>
        </div>
        <div class="one-loader last">
          <div class="v-line last-line"></div>
          <div class="circle last-circle"></div>
        </div>
      </div>
      <h1>Loading</h1>
    </div>
    <section id="section1" class="header__main">
      <video style="width: 100%; height: 100%; object-fit: cover;" class="background" autoplay muted loop
        poster="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689155655/wedding/section1/f8cnb8vhlexpkfpsc26f.jpg">
        <source
          src="https://res.cloudinary.com/dxy2muzyb/video/upload/v1689242662/wedding/video/bpbkqdmdvuzeukzqh3yn.mp4"
          type="video/mp4" />
      </video>
      <header id="header" class="banner_main">
        <div class="overlay"></div>
        <div class="container">
          <div class="row header_main_content">
            <div class="col-md-12 col-md-offset-2 text-center">
              <h2 class="title"><span>Lê Hà</span>
                <span>&</span>
                <span>Tiến Tùng</span>
                </h1>
                <h2>We Are Getting Married</h2>
                <div id="countdown">
                  <div class="simbly-section">
                    <div>
                      <span class="simply-amount" id="days"></span>
                      <span class="simply-word">days</span>
                    </div>
                  </div>
                  <div class="simbly-section">
                    <div>
                      <span class="simply-amount" id="hours"></span>
                      <span class="simply-word">hours</span>
                    </div>
                  </div>
                  <div class="simbly-section">
                    <div>
                      <span class="simply-amount" id="minutes"></span>
                      <span class="simply-word">minutes</span>
                    </div>
                  </div>
                  <div class="simbly-section">
                    <div>
                      <span class="simply-amount" id="seconds"></span>
                      <span class="simply-word">seconds</span>
                    </div>
                  </div>
                </div>
                <p><a href="#" class="btn btn-default btn-sm btn-save-date">Save the date</a></p>
            </div>
          </div>
        </div>
      </header>
    </section>
    <section id="section2">
      <div class="container">
        <div class="row">
          <div class="title-heading" data-aos="fade-up">
            <div class="wishes">
              <h2>Cặp đôi</h2>
              <i class="far fa-heart"></i>
            </div>
          </div>
        </div>
        <div class="couple-wrap animate-box">
          <div class="couple-half" data-aos="fade-up-right">
            <div class="groom">
              <img
                src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689156365/wedding/section2/yt61ihoiw84mvjfvaoj5.jpg"
                alt="groom" class="img-responsive">
            </div>
            <div class="desc-groom">
              <h3>Lê Hà</h3>
              <p>Không ngờ được! đó là câu nói tôi hay nói từ khi chúng tôi bắt đầu yêu và giờ thì... chúng tôi kết hôn
                rồi. Trải qua nhiều biến cố trong chuyện tình cảm tôi khá dè dặt khi lại 1 lần nữa bước chân vào cuộc
                sống của anh. Và rồi... "Chốt thôi" ❤️❤️</p>
            </div>
          </div>
          <p class="heart text-center"><i class="fas fa-heart"></i></p>
          <div class="couple-half" data-aos="fade-up-left">
            <div class="bride">
              <img
                src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689156407/wedding/section2/sjbpdyo2grqpop4x0ok0.jpg"
                alt="groom" class="img-responsive">
            </div>
            <div class="desc-bride">
              <h3>Tiến Tùng</h3>
              <p>Ngoại trừ người đó là em! Không hiểu sao anh hôm đấy lại mạnh dạn đến thế, có lẽ là vì một nửa của anh
                rồi. Người con gái của anh, chúng mình cùng xây nên một mái ấm hạnh phúc em nhé! ❤️❤️</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-sub-header">
      <div class="elementor-background-overlay"></div>
      <div class="elementor-widget-wrap">
        <div class="welcome-area">
          <div class="welcome-content">
            <h2 data-aos="slide-right">Chào mừng bạn đến với ngày trọng đại của chúng tôi</h2>
            <p data-aos="flip-up">Chào bạn, vào ngày 08:30 Ngày 05/08/2023 mình tổ chức hôn lễ. Vì điều kiện ở xa,
              mình không thể trực tiếp
              đến gửi thiệp mời. Do đó, mình đành phải gửi lời mời tới bạn bằng cách này. Rất mong ngày đó bạn dành ít
              thời gian đến tham dự đám cưới của tụi mình. Sự hiện diện của bạn chính là niềm hạnh phúc lớn nhất. Cám ơn
              và mong bạn thông cảm!</p>
            <div class="btn"><a href="#section6" class="btn">Tham gia</a></div>
            <div class="btn"><button type="button" class="bank" data-toggle="modal" data-target="#bankInfo">Phong Bao
                Điện Tử</button></div>
            <div class="btn"><a href="#section3" class="popup-gmaps-button">Địa điểm</a></div>
          </div>
        </div>
      </div>
    </section>
    <section id="section4" class="section-gray">
      <div class="container">
        <div class="row">
          <div class="title-heading text-center" data-aos="fade-up">
            <div class="wishes">
              <h2>Bộ sưu tập</h2>
              <i class="far fa-heart"></i>
            </div>
          </div>
        </div>
        <div class="gallery-list-main">
          <ul id="gallery-list" class="gallery-list">
            <li class="gallery-item" data-aos="fade-up-right">
              <a class="item-fancy"
                href="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221705/wedding/section4/lnud5lkkjtxdcpufowhr.jpg"
                data-fancybox="gallery-1">
                <img
                  src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221705/wedding/section4/lnud5lkkjtxdcpufowhr.jpg"
                  class="img-item" />
                <div class="icon-hover"><img src="/images/icon/icons8-birds.png" /></div>
              </a>
            </li>
            <li class="gallery-item" data-aos="fade-down">
              <a class="item-fancy"
                href="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221705/wedding/section4/hbwbw4bqp0igi2724ez9.jpg"
                data-fancybox="gallery-1">
                <img
                  src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221705/wedding/section4/hbwbw4bqp0igi2724ez9.jpg"
                  class="img-item" />
                <div class="icon-hover"><img src="/images/icon/icons8-birds.png" /></div>
              </a>
            </li>
            <li class="gallery-item" data-aos="fade-up-left">
              <a class="item-fancy"
                href="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221705/wedding/section4/ebj0qe89trqwiccpo9gd.jpg"
                data-fancybox="gallery-1">
                <img
                  src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221705/wedding/section4/ebj0qe89trqwiccpo9gd.jpg"
                  class="img-item" />
                <div class="icon-hover"><img src="/images/icon/icons8-birds.png" /></div>
              </a>
            </li>
            <li class="gallery-item" data-aos="fade-right">
              <a class="item-fancy"
                href="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/nbqrvwzohb0zqdwkc7v8.jpg"
                data-fancybox="gallery-1">
                <img
                  src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/nbqrvwzohb0zqdwkc7v8.jpg"
                  class="img-item" />
                <div class="icon-hover"><img src="/images/icon/icons8-birds.png" /></div>
              </a>
            </li>
            <li class="gallery-item" data-aos="flip-up">
              <a class="item-fancy"
                href="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/v78qyztoyttesizsgxh0.jpg"
                data-fancybox="gallery-1">
                <img
                  src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/v78qyztoyttesizsgxh0.jpg"
                  class="img-item" />
                <div class="icon-hover"><img src="/images/icon/icons8-birds.png" /></div>
              </a>
            </li>
            <li class="gallery-item" data-aos="fade-up-left">
              <a class="item-fancy"
                href="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/fxyilb8lajldhjxdseap.jpg"
                data-fancybox="gallery-1">
                <img
                  src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/fxyilb8lajldhjxdseap.jpg"
                  class="img-item" />
                <div class="icon-hover"><img src="/images/icon/icons8-birds.png" /></div>
              </a>
            </li>
            <li class="gallery-item" data-aos="fade-up-right">
              <a class="item-fancy"
                href="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/yg79tadsxwukokblclse.jpg"
                data-fancybox="gallery-1">
                <img
                  src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/yg79tadsxwukokblclse.jpg"
                  class="img-item" />
                <div class="icon-hover"><img src="/images/icon/icons8-birds.png" /></div>
              </a>
            </li>
            <li class="gallery-item" data-aos="fade-up">
              <a class="item-fancy"
                href="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/g6ehjqks9bktkoioouhz.jpg"
                data-fancybox="gallery-1">
                <img
                  src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/g6ehjqks9bktkoioouhz.jpg"
                  class="img-item" />
                <div class="icon-hover"><img src="/images/icon/icons8-birds.png" /></div>
              </a>
            </li>
            <li class="gallery-item" data-aos="fade-up-left">
              <a class="item-fancy"
                href="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/viwvyhpph33da9wuknwx.jpg"
                data-fancybox="gallery-1">
                <img
                  src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689221704/wedding/section4/viwvyhpph33da9wuknwx.jpg"
                  class="img-item" />
                <div class="icon-hover"><img src="/images/icon/icons8-birds.png" /></div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section id="section3">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="title-heading" data-aos="fade-up">
            <div class="wishes">
              <h2>Sự kiện đặc biệt của chúng tôi</h2>
              <i class="far fa-heart"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="event-mb">
            <div class="col-md-4 col-sm-4 text-center" data-aos="fade-right">
              <div class="event-wrap">
                <span class="icon flaticon-church">
                  <img src="/images/icon/church.png" alt="church" />
                </span>
                <h3>Lễ nạp tài</h3>
                <p><span>Thứ 5, 08h30 - Ngày 03/08/2023</span><span>tức ngày 17 tháng 06 năm Quý Mão</span></p>
                <p><span>Thôn 5, Xã Vân Sơn, Huyện Triệu Sơn, Tỉnh Thanh Hóa</span></p>
                <p><a href="tel:+84337458984">0337458984</a></p>
                <p class="locationMain">
                  <a class="enent-link popup-gmaps" href="https://goo.gl/maps/HRdLGPVivM7a8gnF7" target="_blank">
                    Xem Địa Điểm Nhà Gái
                  </a>
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center" data-aos="flip-up">
              <div class="event-wrap">
                <span class="icon flaticon-reception-bell">
                  <img src="/images/icon/reception-bell.png" alt="bell" />
                </span>
                <h3>Tiệc cưới</h3>
                <p><span>Thứ 6 - Ngày 04/08/2023</span><span>tức ngày 18 tháng 06 năm Quý Mão</span></p>
                <p><span>Xã Vân Sơn, Huyện Triệu Sơn, Tỉnh Thanh Hóa</span></p>
                <p><a href="tel:+84936484789">0936484789</a></p>
                <p class="location">
                  <a class="enent-link female popup-gmaps" href="https://goo.gl/maps/HRdLGPVivM7a8gnF7" target="_blank">
                    Xem Địa Điểm Nhà Gái
                  </a>
                  <a class="enent-link male popup-gmaps" href="https://goo.gl/maps/K7hChmZmnPvUDQLJ7" target="_blank">
                    Xem Địa Điểm Nhà Trai
                  </a>
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center" data-aos="fade-left">
              <div class="event-wrap">
                <span class="icon flaticon-wedding-kiss">
                  <img src="/images/icon/ceremony.png" alt="kiss" />
                </span>
                <h3>Lễ thành hôn</h3>
                <p><span>Thứ 7, 08h30 - Ngày 05/08/2023</span><span>tức ngày 19 tháng 06 năm Quý Mão</span></p>
                <p><span>Thôn 4, Xã Vân Sơn, Huyện Triệu Sơn, Tỉnh Thanh Hóa</span></p>
                <p><a href="tel:+84936484789">0936484789</a></p>
                <p class="locationMain">
                  <a class="enent-link popup-gmaps" href="https://goo.gl/maps/K7hChmZmnPvUDQLJ7" target="_blank">
                    Xem Địa Điểm Nhà Trai
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% if(congra) { %>
      <section id="section5" class="testimonial">
        <div class="container" style="padding-left: 0px; padding-right: 0px;">
          <div class="row box_slide">
            <div class="row animate-box fadeInUp animated-fast">
              <div class="title-heading" data-aos="fade-up">
                <div class="wishes">
                  <h2>Lời chúc</h2>
                  <i class="far fa-heart"></i>
                </div>
              </div>
            </div>
            <div class="row slider">
              <% congra.forEach((congratulation)=> {
                if (congratulation.isVisible) {
                %>
                <div class="image-slider">
                  <div class="item">
                    <div class="testimony-slide text-center">
                      <figure>
                        <img src="<%= congratulation.image == '' ? '/images/icon/user.png' : congratulation.image  %>"
                          alt="user" style="object-fit: cover;">
                      </figure>
                      <span>
                        <%= congratulation.name %>
                      </span>
                      <blockquote>
                        <p>
                          <%= congratulation.greetings %>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <% } }); %>
            </div>
          </div>
        </div>
      </section>
      <% } %>
        <section id="section6">
          <div class="container guest-wrap" data-aos="flip-down">
            <div class="col-12">
              <div class="contact-title text-center">
                <h2>Tham dự cùng chúng tôi nhé?</h2>
                <p>Sự hiện diện của quý vị chính là niềm vui của gia đình chúng
                  tôi.</p>
                <p>Rất hân hạnh được đón tiếp.</p>
              </div>
            </div>
            <div class="contact-form form-style">
              <div role="form" id="form" lang="en-US" dir="ltr">
                <form id="wedding-form" action="#" method="POST" class="form invalid" novalidate="novalidate"
                  data-status="invalid">
                  <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="230">
                    <input type="hidden" name="_wpcf7_version" value="5.6.4">
                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                    <input type="hidden" name="_wpcf7_unit_tag" value="form">
                    <input type="hidden" name="_wpcf7_container_post" value="7">
                    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                    <input type="hidden" name="_wpcf7_recaptcha_response" value="">
                  </div>
                  <div class="container">
                    <div class="avatar-upload">
                      <div class="avatar-edit">
                        <input type='file' id="readUrl" accept=".png, .jpg, .jpeg" />
                        <label for="readUrl">
                          <i class="fas fa-pen"></i>
                        </label>
                      </div>
                      <div class="avatar-preview">
                        <img id="uploadedImage" src="/images/icon/user.png" alt="Uploaded Image"
                          accept="image/png, image/jpeg"
                          style="width: 100%; height: 100%; border-radius: 50%; object-fit: cover;" data-name="upload">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-control-wrap" data-name="name">
                        <input id="username" type="text" name="name" value="" size="40"
                          class="form-control text-control validates-as-required valid" aria-required="true"
                          aria-invalid="false" placeholder="Tên của bạn">
                        <small></small>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-control-wrap" data-name="phone">
                        <input id="phone" type="text" name="phone" value="" size="40"
                          class="form-control text-control validates-as-required valid" aria-required="true"
                          aria-invalid="false" placeholder="Số điện thoại">
                        <small></small>
                      </div>
                    </div>
                    <div class="col col-sm-6">
                      <span class="form-control-wrap" data-name="number">
                        <select name="number" class="form-control select-control validates-as-required valid"
                          aria-required="true" aria-invalid="false">
                          <option value="1">Tệp đính kèm</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                      </span>
                    </div>
                    <div class="col col-sm-6">
                      <span class="form-control-wrap" data-name="event">
                        <select name="event" class="form-control select validates-as-required form-control valid"
                          aria-required="true" aria-invalid="false">
                          <option value="All">Tất cả sự kiện</option>
                          <option value="1">Nạp Tài</option>
                          <option value="2">Tiệc cưới</option>
                          <option value="3">Thành hôn</option>
                        </select>
                      </span>
                    </div>
                    <div class="col-md-12" style="margin-top: 20px;">
                      <span class="form-control-wrap" data-name="greetings">
                        <span style="margin-bottom: 5px !important;">Bạn có lời chúc nào cho chúng tôi không?</span>
                        <textarea id="greetings" style="margin-top: 5px" name="greetings" cols="40" rows="10"
                          class="form-control textarea validates-as-required contact-textarea valid"
                          aria-required="true" aria-invalid="false"
                          placeholder="Bạn có thể cho chúng tôi một lời chúc không?"></textarea>
                        <small></small>
                      </span>
                    </div>
                    <div class="col-md-12 text-center input-row">
                      <input id="submit-form" type="submit" value="Gửi Lời Tham Gia"
                        class="form-control has-spinner submit submit"><span class="spinner"></span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section class="section-sub">
          <div class="wishes" data-aos="fade-up">
            <h2>Lời cảm ơn</h2>
            <i class="far fa-heart"></i>
          </div>
        </section>
        <section id="section7">
          <div class="footer-area">
            <div class="footer-content">
              <div class="content-sub">
                <h2>Cảm Ơn</h2><span>Vì Đã Đến Với Chúng Tôi</span>
              </div>
            </div>
          </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
        <%- include('../partials/script'); %>
  </div>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <div class="modal fade" id="bankInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Phong bao điện tử</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="row justify-content-center mb-5">
              <div class="col-lg-5">
                <div class="text-center faq-title pt-4 pb-4">
                  <div class="pt-3 pb-3"><i class="ti-comments text-primary h3"></i></div>
                  <h5>Nếu bạn không thể tham gia tiệc cưới?</h5>
                  <p class="text-muted">Dưới đây là một số thông tin về tài khoản ngân hàng chúng tôi.</p>
                  <a href="tel:0337458984">
                    <button type="button" class="btn btn-success m-t-10 waves-effect waves-light">
                      Gọi cho tôi
                    </button>
                  </a>

                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-5  pt-3">
                <h5 class="mt-0 font-18 mb-4"><i class="fas fa-male"></i>
                  Nhà trai
                </h5>
                <div class="accordion" id="accordionExample">
                  <div class="card mb-0">
                    <a data-toggle="collapse" href="#collapse_0" class="faq collapsed" aria-expanded="true"
                      aria-controls="collapse_0">
                      <div class="card-header text-dark" id="heading_0">
                        <h6 class="m-0 faq-question">BIDV</h6>
                      </div>
                    </a>
                    <div id="collapse_0" class="collapse show" aria-labelledby="heading_0"
                      data-parent="#accordionExample">
                      <div class="card-body copy">
                        <p class="text-muted mb-0 faq-ans">
                          STK: <b>50110000615609</b>
                          <br>
                          NAME: TRAN TIEN TUNG
                          <br>
                          <img
                            src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689265371/wedding/bank/r0qxaxlqhwkvfkmbu4c6.png"
                            alt="bank" style="width: 190px; height: 190px;" />
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 offset-lg-1 pt-3">
                <h5 class="mt-0 font-18 mb-4"><i class="fas fa-female"></i>
                  Nhà gái
                </h5>
                <div class="accordion" id="accordionExample2">
                  <div class="card mb-0">
                    <a data-toggle="collapse" href="#collapse_4" class="faq collapsed" aria-expanded="true"
                      aria-controls="collapse_4">
                      <div class="card-header text-dark" id="heading_4">
                        <h6 class="m-0 faq-question">MBBank</h6>
                      </div>
                    </a>
                    <div id="collapse_4" class="collapse show" aria-labelledby="heading_4"
                      data-parent="#accordionExample2">
                      <div class="card-body copy">
                        <p class="text-muted mb-0 faq-ans">
                          STK: <b>8280102190598</b>
                          <br>
                          NAME: LE THI HA
                          <br>
                          <img
                            src="https://res.cloudinary.com/dxy2muzyb/image/upload/v1689265371/wedding/bank/dcjn5meskon0xxeeppan.png"
                            alt="bank" style="width: 192px; height: 192px;" />
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.addEventListener("load", function () {
      var preloader = document.querySelector(".preloader");
      preloader.style.display = "none";
    });
    AOS.init({
      offset: 400,
      once: true
    });
  </script>
</body>

</html>