<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="page-wrapper layout-full">
    <section id="section1" class="header__main">
      <header id="header" class="banner_main">
        <div class="overlay"></div>
        <div class="container">
          <div class="row header_main_content">
            <div class="col-md-12 col-md-offset-2 text-center">
              <h1 class="title"><span>Lê Hà</span>
                <span>&</span>
                <span>Tiến Tùng</span>
              </h1>
              <h2>We Are Getting Married</h2>
              <div id="countdown">
                <div class="simbly-section">
                  <div>
                    <span class="simply-amount" id="days"></span>
                    <span class="simply-word">days</span>
                  </div>
                </div>
                <div class="simbly-section">
                  <div>
                    <span class="simply-amount" id="hours"></span>
                    <span class="simply-word">hours</span>
                  </div>
                </div>
                <div class="simbly-section">
                  <div>
                    <span class="simply-amount" id="minutes"></span>
                    <span class="simply-word">minutes</span>
                  </div>
                </div>
                <div class="simbly-section">
                  <div>
                    <span class="simply-amount" id="seconds"></span>
                    <span class="simply-word">seconds</span>
                  </div>
                </div>
              </div>
              <p><a href="#" class="btn btn-default btn-sm btn-save-date">Save the date</a></p>
            </div>
          </div>
        </div>
      </header>
    </section>
    <section id="section2">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <h2>Hello!</h2>
            <h3>November 28th, 2016 New York, USA</h3>
            <p>We invited you to celebrate our wedding</p>
          </div>
        </div>
        <div class="couple-wrap animate-box">
          <div class="couple-half">
            <div class="groom">
              <img src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/Img-banner/2_yexoqo"
                alt="groom" class="img-responsive">
            </div>
            <div class="desc-groom">
              <h3>Lê Hà</h3>
              <p>Không ngờ được" đó là câu nói tôi hay nói từ khi chúng tôi bắt đầu yêu và giờ thì... chúng tôi kết hôn
                rồi. Trải qua nhiều biến cố trong chuyện tình cảm tôi khá dè dặt khi lại 1 lần nữa bước chân vào cuộc
                sống của anh. Và rồi... "Chốt thôi" ❤️❤️</p>
            </div>
          </div>
          <p class="heart text-center"><i class="fas fa-heart"></i></p>
          <div class="couple-half">
            <div class="bride">
              <img src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/Img-banner/1_ljts0f"
                alt="groom" class="img-responsive">
            </div>
            <div class="desc-bride">
              <h3>Tiến Tùng</h3>
              <p>Ngoại trừ người đó là em! Không hiểu sao anh hôm đấy lại mạnh dạn đến thế, có lẽ là vì một nửa của anh
                rồi. Người con gái của anh, chúng mình cùng xây nên một mái ấm hạnh phúc em nhé! ❤️❤️</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-sub-header">
      <div class="elementor-background-overlay"></div>
      <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3edd4aa"
          data-id="3edd4aa" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-e7a7a9e elementor-widget elementor-widget-tmx-lavelo_cta"
              data-id="e7a7a9e" data-element_type="widget" data-widget_type="tmx-lavelo_cta.default">
              <div class="elementor-widget-container">
                <div class="welcome-area">
                  <div class="welcome-content">
                    <h2>Chào mừng bạn đến với ngày trọng đại của chúng tôi</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                      when
                      looking at its layout. The point of using Lorem Ipsum is that it has a more-or less normal
                      distribution
                      of letters</p>
                    <div class="btn"><a href="#section6" class="btn">Tham gia</a></div>
                    <div class="btn"><a href="#" class="bank">Phong Bao Điện Tử</a></div>
                    <div class="btn"><a href="#section3" class="popup-gmaps">Địa điểm</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section4" class="section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box fadeInUp animated-fast">
            <span>Our Memories</span>
            <h2>Wedding Gallery</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind
              texts.</p>
          </div>
        </div>
        <div class="row row-bottom-padded-md">
          <div class="col-md-12">
            <ul id="fh5co-gallery-list">
              <li class="one-third animate-box fadeIn animated-fast" data-animate-effect="fadeIn"
                style="background-image: url(https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-1/0U8A7793-min_xm6gez) ">
                <a href="javascript:void(0)" data-fancybox="gallery-1"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-1/0U8A7793-min_xm6gez">
                  <div class="case-studies-summary">
                    <span>14 Photos</span>
                    <h2>Two Glas of Juice</h2>
                  </div>
                </a>
                <img src="javascript:void(0)" data-fancybox="gallery-1"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-1/0U8A7789-min_axn4hd"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-1"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-1/0U8A7799-min_fqwqx6"
                  style="display: none;" />
              </li>
              <li class="one-third animate-box fadeIn animated-fast" data-animate-effect="fadeIn"
                style="background-image: url(https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-2/0U8A7865-min_rtsgdt)">
                <a href="javascript:void(0)" data-fancybox="gallery-2"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-2/0U8A7865-min_rtsgdt"
                  class="color-2">
                  <div class="case-studies-summary">
                    <span>30 Photos</span>
                    <h2>Timer starts now!</h2>
                  </div>
                </a>
                <img src="javascript:void(0)" data-fancybox="gallery-2"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-2/0U8A7908-min_tkyp8e"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-2"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-2/0U8A7851-min_c7eoqn"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-2"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-2/0U8A7847-min_wlwuav"
                  style="display: none;" />

              </li>


              <li class="one-third animate-box fadeIn animated-fast" data-animate-effect="fadeIn"
                style="background-image: url(https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-3/0U8A8007-min_t7bp4a); ">
                <a href="javascript:void(0)" data-fancybox="gallery-3"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-3/0U8A8007-min_t7bp4a"
                  class="color-3">
                  <div class="case-studies-summary">
                    <span>90 Photos</span>
                    <h2>Beautiful sunset</h2>
                  </div>
                </a>
                <img src="javascript:void(0)" data-fancybox="gallery-3"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-3/0U8A8011-min_naqpml"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-3"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-3/0U8A8006-min_b1jbws"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-3"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-3/0U8A8012-min_rkt2xp"
                  style="display: none;" />
              </li>
              <li class="one-third animate-box fadeIn animated-fast" data-animate-effect="fadeIn"
                style="background-image: url(https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-4/4-min_pdf51i); ">
                <a href="javascript:void(0)" data-fancybox="gallery-4"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-4/4-min_pdf51i"
                  class="color-4">
                  <div class="case-studies-summary">
                    <span>12 Photos</span>
                    <h2>Company's Conference Room</h2>
                  </div>
                </a>
                <img src="javascript:void(0)" data-fancybox="gallery-4"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-4/0U8A8285-min_yoievl"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-4"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-4/0U8A8283-min_ybj1jk"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-4"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-4/0U8A8281-min_sh1fj5"
                  style="display: none;" />
              </li>

              <li class="one-third animate-box fadeIn animated-fast" data-animate-effect="fadeIn"
                style="background-image: url(https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-5/0U8A8313-min_devg9z); ">
                <a href="javascript:void(0)" data-fancybox="gallery-5"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-5/0U8A8313-min_devg9z"
                  class="color-3">
                  <div class="case-studies-summary">
                    <span>50 Photos</span>
                    <h2>Useful baskets</h2>
                  </div>
                </a>
                <img src="javascript:void(0)" data-fancybox="gallery-5"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-5/0U8A8299-min_mwu8ci"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-5"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-5/0U8A8306-min_r7zhdp"
                  style="display: none;" />
              </li>
              <li class="one-third animate-box fadeIn animated-fast" data-animate-effect="fadeIn"
                style="background-image: url(https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-6/0U8A8330-min_tf6bmw); ">
                <a href="javascript:void(0)" data-fancybox="gallery-6"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-6/0U8A8330-min_tf6bmw"
                  class="color-4">
                  <div class="case-studies-summary">
                    <span>45 Photos</span>
                    <h2>Skater man in the road</h2>
                  </div>
                </a>
                <img src="javascript:void(0)" data-fancybox="gallery-6"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-6/0U8A8324-min_uyfefw"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-6"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-6/0U8A8328-min_raeclc"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-6"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-6/0U8A8322-min_wctl9o"
                  style="display: none;" />
              </li>

              <li class="one-third animate-box" data-animate-effect="fadeIn"
                style="background-image: url(https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-7/0U8A8218-min_xavx19); ">
                <a href="javascript:void(0)" data-fancybox="gallery-7"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-7/0U8A8218-min_xavx19"
                  class="color-4">
                  <div class="case-studies-summary">
                    <span>35 Photos</span>
                    <h2>Two Glas of Juice</h2>
                  </div>
                </a>
                <img src="javascript:void(0)" data-fancybox="gallery-7"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-7/0U8A8234-min_vdp6vo"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-7"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-7/0U8A8226-min_xfmxh7"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-7"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-7/0U8A8230-min_ck64cr"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-7"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-7/0U8A8227-min_s0b4fi"
                  style="display: none;" />
              </li>

              <li class="one-third animate-box" data-animate-effect="fadeIn"
                style="background-image: url(https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-8/0U8A7737-min_xnx5ya); ">
                <a href="javascript:void(0)" data-fancybox="gallery-8"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-8/0U8A7737-min_xnx5ya"
                  class="color-5">
                  <div class="case-studies-summary">
                    <span>90 Photos</span>
                    <h2>Timer starts now!</h2>
                  </div>
                </a>
                <img src="javascript:void(0)" data-fancybox="gallery-8"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-8/0U8A7734-min_bwlv4j"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-8"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-8/0U8A7728-min_qstwal"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-8"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-8/0U8A7725-min_xsaoo5"
                  style="display: none;" />
              </li>
              <li class="one-third animate-box" data-animate-effect="fadeIn"
                style="background-image: url(https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-9/0U8A7766-min_osjgjo); ">
                <a href="javascript:void(0)" data-fancybox="gallery-9"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-9/0U8A7766-min_osjgjo"
                  class="color-6">
                  <div class="case-studies-summary">
                    <span>56 Photos</span>
                    <h2>Beautiful sunset</h2>
                  </div>
                </a>
                <img src="javascript:void(0)" data-fancybox="gallery-9"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-9/0U8A7773-min_o6wz3y"
                  style="display: none;" />
                <img src="javascript:void(0)" data-fancybox="gallery-9"
                  data-src="https://res.cloudinary.com/dmxj9abgx/image/upload/f_auto,q_auto/v1/Wedding/gallery-9/0U8A7765-min_ljrzwh"
                  style="display: none;" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="section3" class="event">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box fadeInUp animated-fast">
            <span>Our Special Events</span>
            <h2>Wedding Events</h2>
          </div>
        </div>
        <div class="row">
          <div class="event-mb">
            <div class="col-md-4 col-sm-4 text-center">
              <div class="event-wrap animate-box fadeInUp animated-fast">
                <h3>Lễ nạp tài</h3>
                <div class="time-event">
                  <i class="fas fa-clock"></i>
                  <span>Thứ 5, 08h30 - Ngày 03/08/2023 tức ngày 17 tháng 06 năm Quý Mão</span>
                </div>
                <div class="location-event">
                  <i class="fas fa-map-marker-alt"></i>
                  <span> Thôn 5, Xã Vân Sơn, Huyện Triệu Sơn, Tỉnh Thanh Hóa </span>
                </div>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                  live the
                  blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                  language
                  ocean.</p>
                <a class="enent-link popup-gmaps" href="https://goo.gl/maps/HRdLGPVivM7a8gnF7" target="_blank">
                  Xem Địa Điểm
                </a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
              <div class="event-wrap animate-box fadeInUp animated-fast">
                <h3>Tiệc cưới</h3>
                <div class="time-event">
                  <i class="fas fa-clock"></i>
                  <span>Thứ 5, 08h30 - Ngày 03/08/2023 tức ngày 17 tháng 06 năm Quý Mão</span>
                </div>
                <div class="location-event">
                  <i class="fas fa-map-marker-alt"></i>
                  <span> Thôn 5, Xã Vân Sơn, Huyện Triệu Sơn, Tỉnh Thanh Hóa </span>
                </div>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                  live the
                  blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                  language
                  ocean.</p>
                <a class="enent-link popup-gmaps" href="https://goo.gl/maps/HRdLGPVivM7a8gnF7" target="_blank">
                  Xem Địa Điểm
                </a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
              <div class="event-wrap animate-box fadeInUp animated-fast">
                <h3>Lễ thành hôn</h3>
                <div class="time-event">
                  <i class="fas fa-clock"></i>
                  <span>Thứ 7, 08h30 - Ngày 05/08/2023 tức ngày 19 tháng 06 năm Quý Mão</span>
                </div>
                <div class="location-event">
                  <i class="fas fa-map-marker-alt"></i>
                  <span> Thôn 5, Xã Vân Sơn, Huyện Triệu Sơn, Tỉnh Thanh Hóa </span>
                </div>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                  live the
                  blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                  language
                  ocean.</p>
                <a class="enent-link popup-gmaps" href="https://goo.gl/maps/HRdLGPVivM7a8gnF7" target="_blank">
                  Xem Địa Điểm
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section5" class="testimonial">
      <div class="container">
        <div class="row box_slide">
          <div class="row animate-box fadeInUp animated-fast">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
              <span>Best Wishes</span>
              <h2>Friends Wishes</h2>
            </div>
          </div>
          <div class="row slider">
            <% congra.forEach((congratulation)=> {
              if (congratulation.isVisible) {
              %>
              <div class="image-slider">
                <div class="item">
                  <div class="testimony-slide text-center">
                    <figure>
                      <img src="<%= congratulation.image == '' ? '/images/icon/user.png' : congratulation.image  %>"
                        alt="user" style="object-fit: cover;">
                    </figure>
                    <span>
                      <%= congratulation.name %>
                    </span>
                    <blockquote>
                      <p>
                        <%= congratulation.greetings %>
                      </p>
                    </blockquote>
                  </div>
                </div>
              </div>
              <% } }); %>
          </div>
        </div>
      </div>
    </section>
    <section id="section6">
      <div class="container guest-wrap">
        <div class="col-12">
          <div class="contact-title text-center">
            <h2>Tham dự cùng chúng tôi nhé?</h2>
            <p>Sự hiện diện của quý vị chính là niềm vui của gia đình chúng
              tôi.</p>
            <p>Rất hân hạnh được đón tiếp.</p>
          </div>
        </div>
        <div class="contact-form form-style">
          <div role="form" id="form" lang="en-US" dir="ltr">
            <form id="wedding-form" action="#" method="POST" class="form invalid" novalidate="novalidate"
              data-status="invalid">
              <div style="display: none;">
                <input type="hidden" name="_wpcf7" value="230">
                <input type="hidden" name="_wpcf7_version" value="5.6.4">
                <input type="hidden" name="_wpcf7_locale" value="en_US">
                <input type="hidden" name="_wpcf7_unit_tag" value="form">
                <input type="hidden" name="_wpcf7_container_post" value="7">
                <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                <input type="hidden" name="_wpcf7_recaptcha_response" value="">
              </div>
              <div class="container">
                <!-- <h1>jQuery Profile Upload
                  <small>with preview</small>
                </h1> -->
                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <input type='file' id="readUrl" accept=".png, .jpg, .jpeg" />
                    <label for="readUrl">
                      <i class="fas fa-pen"></i>
                    </label>
                  </div>
                  <div class="avatar-preview">
                    <img id="uploadedImage" src="/images/icon/user.png" alt="Uploaded Image"
                      accept="image/png, image/jpeg"
                      style="width: 100%; height: 100%; border-radius: 50%; object-fit: cover;" data-name="upload">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6">
                  <span class="form-control-wrap" data-name="name">
                    <input type="text" name="name" value="" size="40"
                      class="form-control text-control validates-as-required valid" aria-required="true"
                      aria-invalid="false" placeholder="Tên của bạn">
                  </span>
                </div>
                <div class="col-12 col-sm-6">
                  <span class="form-control-wrap" data-name="phone">
                    <input type="text" name="phone" value="" size="40"
                      class="form-control text-control validates-as-required valid" aria-required="true"
                      aria-invalid="false" placeholder="Số điện thoại">
                  </span>
                </div>
                <div class="col col-sm-6">
                  <span class="form-control-wrap" data-name="number">
                    <select name="number" class="form-control select-control validates-as-required valid"
                      aria-required="true" aria-invalid="false">
                      <option value="NO">Tệp đính kèm</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </span>
                </div>
                <div class="col col-sm-6">
                  <span class="form-control-wrap" data-name="event">
                    <select name="event" class="form-control select validates-as-required form-control valid"
                      aria-required="true" aria-invalid="false">
                      <option value="All">Tất cả sự kiện</option>
                      <option value="1">Nạp Tài</option>
                      <option value="2">Tiệc cưới</option>
                      <option value="3">Thành hôn</option>
                    </select>
                  </span>
                </div>
                <div class="col-md-12" style="margin-top: 20px;">
                  <span class="form-control-wrap" data-name="greetings">
                    <span style="margin-bottom: 5px !important;">Bạn có lời chúc nào cho chúng tôi không?</span>
                    <textarea style="margin-top: 5px" name="greetings" cols="40" rows="10"
                      class="form-control textarea validates-as-required contact-textarea valid" aria-required="true"
                      aria-invalid="false" placeholder="Bạn có thể cho chúng tôi một lời chúc không?"></textarea><label
                      for="greetings" generated="true" class="error" style="display: none;">Please enter at least 10
                      characters.</label>
                  </span>
                </div>
                <div class="col-md-12 text-center input-row">
                  <input id="submit-form" type="submit" value="Gửi Lời Tham Gia"
                    class="form-control has-spinner submit submit"><span class="spinner"></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="section-sub">
      <div class="wishes">
        <h2>Lời chúc</h2>
        <i class="far fa-heart"></i>
      </div>
    </section>
    <section id="section7">
      <div class="footer-area">
        <div class="footer-content">
          <div class="content-sub">
            <h2>Cảm Ơn</h2><span>Vì Đã Đến Với Chúng Tôi</span>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
    integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <%- include('../partials/script'); %>
    <script>
      const parallax = document.getElementById("section1");

      function updateParallax() {
        let offset = window.pageYOffset;
        parallax.style.backgroundPositionY = offset * 0.7 + "px";
      }

      window.addEventListener("scroll", updateParallax);
    </script>
    <script>
      $('[data-fancybox="gallery-1"]').fancybox({
        buttons: [
          "slideShow",
          "thumbs",
          "zoom",
          "fullScreen",
          "share",
          "close"
        ],
        loop: false,
        protect: true
      });

    </script>
    <script type="text/javascript">
      $('.slider').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 2000,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
      });
    </script>
</body>

</html>