<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Sacramento&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Sacramento&family=Work+Sans&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css
    " />
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="page-wrapper layout-full">
    <section id="section1">
      <header id="header" class="banner_main">
        <div class="overlay"></div>
        <div class="container">
          <div class="row header_main_content">
            <div class="col-md-12 col-md-offset-2 text-center">
              <h1 class="title">Lê Hà &amp; Tiến Tùng</h1>
              <h2>We Are Getting Married</h2>
              <div id="countdown">
                <div class="simbly-section">
                  <div>
                    <span class="simply-amount" id="days"></span>
                    <span class="simply-word">days</span>
                  </div>
                </div>
                <div class="simbly-section">
                  <div>
                    <span class="simply-amount" id="hours"></span>
                    <span class="simply-word">hours</span>
                  </div>
                </div>
                <div class="simbly-section">
                  <div>
                    <span class="simply-amount" id="minutes"></span>
                    <span class="simply-word">minutes</span>
                  </div>
                </div>
                <div class="simbly-section">
                  <div>
                    <span class="simply-amount" id="seconds"></span>
                    <span class="simply-word">seconds</span>
                  </div>
                </div>
              </div>
              <p><a href="#" class="btn btn-default btn-sm btn-save-date">Save the date</a></p>
            </div>
          </div>
        </div>
      </header>
    </section>
    <section id="section2">

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <h2>Hello!</h2>
            <h3>November 28th, 2016 New York, USA</h3>
            <p>We invited you to celebrate our wedding</p>
          </div>
        </div>
        <div class="couple-wrap animate-box">
          <div class="couple-half">
            <div class="groom">
              <img src="/images/section2/2.jpg" alt="groom" class="img-responsive">
            </div>
            <div class="desc-groom">
              <h3>Lê Hà</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind
                texts. Separated they live in Bookmarksgrove</p>
            </div>
          </div>
          <p class="heart text-center"><i class="fas fa-heart"></i></p>
          <div class="couple-half">
            <div class="bride">
              <img src="/images/section2/1.jpg" alt="groom" class="img-responsive">
            </div>
            <div class="desc-bride">
              <h3>Tiến Tùng</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind
                texts. Separated they live in Bookmarksgrove</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section3">

    </section>
    <div class="jumbotron">
      <% congra.forEach((congratulation)=> { %>
        <p>
          <%= congratulation.name %>
        </p>
        <p>
          <%= congratulation.phone %>
        </p>
        <p>
          <%= congratulation.attachment %>
        </p>
        <p>
          <%= congratulation.eventOption %>
        </p>
        <p>
          <%= congratulation.greetings %>
        </p>
        <% }); %>

          <div class="guest-wrap">
            <div class="col-12">
              <div class="contact-title text-center">
                <h2>Tham dự cùng chúng tôi nhé?</h2>
                <p>Sự hiện diện của quý vị chính là niềm vui của gia đình chúng
                  tôi.</p>
                <p>Rất hân hạnh được đón tiếp.</p>
              </div>
            </div>
            <div class="contact-form form-style">
              <div role="form" id="form" lang="en-US" dir="ltr">
                <form id="wedding-form" action="#" method="post" class="form invalid" novalidate="novalidate"
                  data-status="invalid">
                  <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="230">
                    <input type="hidden" name="_wpcf7_version" value="5.6.4">
                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                    <input type="hidden" name="_wpcf7_unit_tag" value="form">
                    <input type="hidden" name="_wpcf7_container_post" value="7">
                    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                    <input type="hidden" name="_wpcf7_recaptcha_response" value="">
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <span class="form-control-wrap" data-name="name">
                        <input type="text" name="name" value="" size="40"
                          class="form-control text-control validates-as-required valid" aria-required="true"
                          aria-invalid="false" placeholder="Tên của bạn">
                      </span>
                    </div>
                    <div class="col-12 col-sm-6">
                      <span class="form-control-wrap" data-name="phone">
                        <input type="text" name="phone" value="" size="40"
                          class="form-control text-control validates-as-required valid" aria-required="true"
                          aria-invalid="false" placeholder="Số điện thoại">
                      </span>
                    </div>
                    <div class="col col-sm-6">
                      <span class="form-control-wrap" data-name="number">
                        <select name="number" class="form-control select-control validates-as-required valid"
                          aria-required="true" aria-invalid="false">
                          <option value="NO">Tệp đính kèm</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                      </span>
                    </div>
                    <div class="col col-sm-6">
                      <span class="form-control-wrap" data-name="event">
                        <select name="event" class="form-control select validates-as-required form-control valid"
                          aria-required="true" aria-invalid="false">
                          <option value="All">Tất cả sự kiện</option>
                          <option value="1">Nạp Tài</option>
                          <option value="2">Tiệc cưới</option>
                          <option value="3">Thành hôn</option>
                        </select>
                      </span>
                    </div>
                    <div class="col-md-12" style="margin-top: 20px;">
                      <span class="form-control-wrap" data-name="greetings">
                        <span style="margin-bottom: 5px !important;">Bạn có lời chúc nào cho chúng tôi không?</span>
                        <textarea style="margin-top: 5px" name="greetings" cols="40" rows="10"
                          class="form-control textarea validates-as-required contact-textarea valid"
                          aria-required="true" aria-invalid="false"
                          placeholder="Bạn có thể cho chúng tôi một lời chúc không?"></textarea><label for="greetings"
                          generated="true" class="error" style="display: none;">Please enter at least 10
                          characters.</label>
                      </span>
                    </div>
                    <div class="col-md-12 text-center">
                      <input id="submit-form" type="submit" value="Gửi Lời Tham Gia"
                        class="form-control has-spinner submit submit"><span class="spinner"></span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

    </div>
  </div>
  <script src="../../public/js/simplyCountdown.js"></script>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <%- include('../partials/script'); %>
    <script>
      const parallax = document.getElementById("section1");

      function updateParallax() {
        let offset = window.pageYOffset;
        parallax.style.backgroundPositionY = offset * 0.7 + "px";
      }

      window.addEventListener("scroll", updateParallax);
    </script>
</body>

</html>